<p id="notice"><%= notice %></p>

<h1>Expertises</h1>

<table>
  <thead>
    <tr>
      <th>Expert</th>
      <th>Expert Email</th>
      <th>Skill</th>
      <th>Level</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @expertises.each do |expertise| %>
      <tr>
        <td><%= image_tag expertise.expert.picture_url %></td>
        <td><%= expertise.expert.name %></td>
        <td><%= expertise.expert.email %></td>
        <td><%= expertise.skill.name %></td>
        <td><%= expertise.level %></td>
        <td><%= link_to 'Show', expertise %></td>
        <td><%= link_to 'Edit', edit_expertise_path(expertise) %></td>
        <td><%= link_to 'Destroy', expertise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expertise', new_expertise_path %>
